body {
    margin:0 auto; 
    background-color:  #393f4d;

  }

header {
    background-color: #feda6a;
    text-align: center;
    font-size: 300%;
}
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
    padding: 2%;
}
nav li a {
    text-decoration: none;
    font-size: 100%;
    color: #393f4d;
}
  
 .imgbulb {
  background-color: black;
  color: white;
}
  p {
    color: #feda6a;
  }

  .first-section h2 {
      font-size: 350%;
      padding: 5%;
      color: #feda6a;
  }
  .first-section p {
      font-size: 250%;
      padding: 2%;
      background-color: #525b70;
      margin: 2%;
  }
  .org1 h3 a {
text-decoration: none;
background-color: #525b70;
color: #feda6a;
padding: 2%;
border: 2px solid #feda6a;
    border-radius: 5px;
  }
  .org1 h3 {
    margin: 6%;
    
  }
  .org1 p {
      padding: 2%;
      font-size: 120%;
  }
  .org1 img {
      width: 50%;
      padding: 2%;
  }
  footer {
    
    background-color: #feda6a;
    text-align: center;
    font-size: 300%;
    padding: 1%;
    
  }
  footer p {
    color: #1d1e22;
  }
